# Virtualenvs
.env/
.venv/
# Python
__pycache__

# IDE
.idea

# Non-poetry package requirements
requirements.txt

# Notebook checkpoints
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
notebooks/.DS_Store
*.ipynb

# Other Latex outputs
*.log
*.out
*.synctex.gz
*.aux
*.fls
*.fdb_latexmk
